
.App-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: local('Nunito'), url(./fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: local('Nunito'), url(./fonts/Nunito/Nunito-Black.ttf) format('truetype');
}


